/* @import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    /* font-family: 'Caveat Brush', cursive; */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color : #fad744;
    background-color: #54c3ef;

}

#main-wrapper {
    /* background-color: #54c3ef; */

}
#heading {
    font-size: 80px;
    font-weight: 700;
    font-family: 'Caveat Brush', cursive;
    text-align: center;
    margin-bottom: 0px;
    text-shadow: 1px 5px #000;
    
}

#position-div {
    position : relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 20px;
    margin: 30px 300px;
    background-color: #2b3252;
    border-radius: 8px;
    
}

.quiz-container {
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 20px;
    margin: 30px 300px;
    background-color: #2b3252;
    border-radius: 8px; */
    /* position: relative; */
}

#result-box {
    width: 150px;
    height: 250px;
    position : absolute;
    background-color: whitesmoke;
    top: 185px;
    right: 140px;
    border-radius: 8px;
}

#result-box {
    font-size: 25px;
    color: black;
    font-weight:400;
    box-sizing: border-box;
    padding: 20px;
    
}

#side-result {
    font-size: 36px;
    display: block;
    font-weight: 600;
    margin-top: 20px;
    /* padding: 20px */
}

h3 {
    margin-bottom: 0;
}

h4 {
    margin-bottom: 0px;
    font-weight: 400;
    display: inline-block;
    padding-left: 7px;
}

label {
    display: block;
}

.horizontal-line {
    margin:40px 0 10px 0;
    width:100%;
    height: 0.5px;
    background-color: #ffff8b;
    /* border: 0.05px solid #ffff8b */
}

.btn-submit {
    display: block;
    margin: 30px 23vw 10px 23vw;
    padding: 12px 25px;
    background-color: #ffff8b;
    font-size: 22px;
    font-weight: 500;
    border-radius: 8px;
    /* text-align: center; */
    /* align-items: end; */
}

.btn-submit:disabled {
    cursor: not-allowed;
    color: #2B3252;
    background-color: rgba(255,255,224,0.7);
}

.show {
    display: inline-block !important;
    padding-left: 20px;
}

.hide {
    display: none !important;
}